body {
    background-image: url("stockists.png");
    max-width: 100%;
    background-size: cover;
   
}

ul li a {
    color: black;
    font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
    font-size: 18px;
    text-align: right;

     }


#dark {
    background-color: black;
}

.navbar { 
    background-color: none;

} 

.navbar-nav {
    margin-left: 10%;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
    
}
.footer {
    position: fixed;
    left: 3%;
    bottom: 0;
    top: 88%;
    width: 100%;
    color: white;
    text-align: left;
    z-index: 9999;
  }

#marginTop {
    margin-top: 25%;
}

#marginText {
    margin-top: 30px;
}

#whiteBk {
    width: 100%;
    height: 100%;
    background-color: white;
    margin-top: 17%;
}

#imgCol {
    margin-top: 20%;
    width: 200px;
}

h2 {
    color:white;
    font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
    font-size: 17px;

}

a {
    color: white;
text-decoration: none;} 

a:hover { color:white;
    text-decoration: none;
    opacity: 0.5; 
 }
.nav a { color:white; };




@media screen and (min-width: 900px) {
    .navbar-nav {
        margin-left: 10%;
    }
}

@media screen and (min-width: 1100px) {
    .navbar-nav {
        margin-left: 30%;
    }
    #imgCol {
        margin-top: 20%;
        width: 230px;
    }
}

@media screen and (min-width: 1300px) {
    .navbar-nav {
        margin-left: 40%;
    }

    #imgCol {
        margin-top: 20%;
        width: 270px;
    }
    
}

@media screen and (min-width: 1500px) {
    .navbar-nav {
        margin-left: 50%;
    }

    #imgCol {
        margin-top: 20%;
        width: 300px;
    }
}

@media screen and (min-width: 1700px) {
    .navbar-nav {
        margin-left: 60%;
    }

    #imgCol {
        margin-top: 20%;
        width: 400px;
    }
}

@media screen and (min-width: 1900px) {
    .navbar-nav {
        margin-left: 66%;
    }

    #imgCol {
        margin-top: 20%;
        width: 400px;
    }
}

@media screen and (min-width: 2100px) {
    .navbar-nav {
        margin-left: 70%;
    }

    #imgCol {
        margin-top: 20%;
        width: 500px;
    }
}