body, html {
    height: 100%;
    margin: 0;

    max-width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
  }




body {
    background-image: url("bad_bunny_liberal_youth_ministry.png");
    background-size: cover;
    background-position-x: center;
    background-position-y: -200px;

}

.bg {
    /* The image used */
    background-image: url("glitter.gif");
    height: 100%; 
    width: 100%;
    background-size: cover;
    position: fixed;
    opacity: 0.4;
    filter: brightness(2.3);
    z-index: 97;
  }


  .img-fluid{ max-width: 100%;
    max-height: 100%;
    height: auto;
    position: fixed;
}


    #marginTop {
        margin-top: 15%;

        z-index: 9999;
        opacity: 1;
        position: fixed;

    }

    #op {
        margin-left: 20%;
    }

    #marginTop3 {
        margin-top: 80%;
    }

    h2 {
        color:white;
        font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
        font-size: 10px;
        z-index: 9999;
        position: fixed;
    }

    .footer {
        position: fixed;
        left: 3%;
        bottom: 0;
        top: 90%;
        width: 100%;
        color: white;
        text-align: left;
        z-index: 9999;
      }
   
 
      #cumming {
        -ms-transform: rotate(-20deg); /* IE 9 */
        transform: rotate(-20deg);
        margin-top: -20px;
      }